/* Pour fond et page centrée */
body, html {
  height: 100%;
  margin: 0;
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #f5fff6, #e3f6e0);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Conteneur principal */
.Div_principal {
  background-color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 40px 60px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Les textes */
.texte_principal {
  margin-bottom: 35px;
}

.titre_principal {
  font-size: 2.2rem;
  color: #2e8330;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.auteur {
  margin: 0;
  color: #4f4f4f;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.description {
  color: #333;
  font-size: 0.95rem;
  text-align: center;
  margin-top: 0px;
  line-height: 1.4;
}

.bouton_principal {
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4caf50;
    width: 60%;
    font-size: 16px;
}

h1 {
    font-size: x-large;
    text-align: center;
    color: #2e8330;
    font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont , "Segoe UI", sans-serif;
}

.boutons1 {
  display: flex;
  align-items: center; /* Centre verticalement les enfants */
  height: 100px; /* Exemple de hauteur */
}

